<h1>Division Form</h1>

<form action="/divisions" method="post">
  <label for="division_section">Name of Divisions: </label>
  <input id="division_section" name="division_section" type="text">
  <button type="submit" class="btn-success">Add new Division</button>
</form>
